albumentations==2.0.8
colorama==0.4.6
comet_ml==3.49.11
coremltools==8.3.0
Flask==3.1.1
GitPython==3.1.44
GitPython==3.1.44
ipython==8.12.3
jittor==1.3.9.14
matplotlib==3.4.3
mss==10.0.0
nncf==2.17.0
numpy==1.24.4
onnx==1.18.0
onnxruntime==1.22.0
onnxslim==0.1.58
opencv_python==4.11.0.86
openvino==2025.2.0
paddle==1.0.2
pafy==0.5.5
pandas==2.0.3
Pillow==8.3.2
Pillow==11.2.1
psutil==7.0.0
pycocotools==2.0.10
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
scipy==1.15.3
seaborn==0.13.2
setuptools==52.0.0.post20210125
tensorboardX==2.6.2.2
tensorboardX==2.6.4
tensorflow==2.19.0
tensorflowjs==4.22.0
tensorrt==10.12.0.36
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==1.8.1+cu111
torchvision==0.9.1+cu111
tqdm==4.67.1
tritonclient==2.58.0
ultralytics==8.3.156
ultralytics_thop==2.0.14
x2paddle==1.6.0
